{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <div class="row m-5">
        <div class="col-6">
            <div class="mx-3">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.birthDay) }}
                {{ form_row(form.password) }}

                {{ form_widget(form.send, {
                    'attr': {'class': 'btn bg-first-color'},
                })}}

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-6">
            <h2>Vous avez déja un compte ?</h2>
            <br>
            <hr>
            <br>
            <a class="btn bg-first-color" href="{{ path('login') }}">Connectez-vous !</a>
        </div>
    </div>
{% endblock %}
